.overlay_box {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 650px;
  margin: auto;
  margin-top: 130px;
  border: none;
  border-radius: 20px;
  box-shadow: 0px 0px 10px #dedede;
}

.title_final {
  margin: 0;
  padding: 0;
  color: #00252e;
  size: 20px;
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-size: 25px;
  font-weight: 700;
  padding-top: 70px;
  padding-bottom: 30px;
}

.button_final {
  margin-bottom: 50px;
  box-shadow: 1px 4px 6px 0px #d1d1d1;
}

.footer_box {
  margin: 0 0 100px 0;
  display: flow-root;
  background-color: #00252e;
}

.logo_huddle {
  margin-top: 150px;
  margin-left: 80px;
  margin-bottom: 50px;
}

.contacts {
  margin-left: 80px;
  color: white;
  display: flex;
  width: 480px;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 25px;
}

.location {
  align-items: flex-start;
}

.paragraph_info {
  margin: 0;
  margin-left: 30px;
  padding: 0;
  cursor: pointer;
  width: auto;
}

.symbol {
  width: 20px;
}

.two {
  display: flex;
}

.contacts_two {
  color: white;
  width: 480px;
  display: inline-block;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-weight: 400;
  margin-left: 50px;
}
