body {
  margin: 0;
  padding: 0;
}

.part_one {
  padding: 0;
  margin: 0 0 150px 0;
  display: flow-root;
  background-repeat: repeat-x;
  background-color: #edfbfe;
  background-image: url(../img-background/bg-hero-desktop.svg);
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 50px 80px 60px 80px;
  align-items: center;
}

.logo_huddle {
  width: 200px;
}

.button_try {
  font-family: "Open Sans", sans-serif;
  font-size: 13px;
  font-weight: 700;
  background-color: white;
  border: none;
  border-radius: 25px;
  padding: 15px 60px;
  cursor: pointer;
  box-shadow: 0px 0px 5px #cbcbcb;
}
