.container {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 70px;
  margin-left: 80px;
  margin-right: 80px;
  margin-bottom: 80px;
}

h1.title_intro {
  width: 500px;
  font-family: "Poppins", sans-serif;
  font-size: 40px;
  font-weight: 700;
  margin: 20px 50px 30px 0;
}

p.paragrah_intro {
  width: 510px;
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  font-weight: 400;
  margin: 0px 50px 40px 0;
}

.button_get_started {
  background-color: hsl(322, 100%, 66%);
  font-family: "Open Sans", sans-serif;
  color: white;
  font-size: 15px;
  font-weight: 700;
  border: none;
  border-radius: 35px;
  padding: 15px 70px;
  cursor: pointer;
}

.illustra_backgroud {
  width: 670px;
}

/* -----------Responsividade------------ */

/* @media only screen and (max-device-width: 890px) {
  .container {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
  }

  .texts_first_intro,
  h1,
  p {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    text-align: center;
  }
  .illustra_backgroud {
    margin-top: 50px;
  }
} */
